---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import News from "../sections/News.astro";
import Gods from "../sections/Gods.astro";
import Maps from "../sections/Maps.astro";
import Footer from "../sections/Footer.astro";
---

<Layout title="Smite Landing Page">
    <main>
        <Hero />
        <News />
        <Gods />
        <Maps />
    </main>
    <Footer />
</Layout>

<style></style>
