---

---

<section>
    <div class="flex flex-col justify-center items-center gap-10 text-center py-14 sm:py-52">
        <h1 class="text-8xl uppercase">Battleground <br />of the Gods</h1>
        <p class="text-xl uppercase max-w-2xl">
            Experience the ultimate battlefield in Smite, where divine powers collide. Engage in strategic gameplay and lead your god to
            victory in this epic MOBA.
        </p>
        <div class="flex gap-7">
            <a href="/" class="bg-yellow-400 py-5 px-16 uppercase font-bold">Download</a>
            <a href="/" class="bg-yellow-100 py-5 px-16 uppercase font-bold">Learn More</a>
        </div>
    </div>
    <div class="flex justify-between">
        <div>Socials</div>
        <div>Sponsors</div>
    </div>
</section>

<style>
    section {
        background-image: url("/img/smite-background.webp");
        background-size: cover;
    }
</style>
