---
import DownloadButton from "../components/DownloadButton.astro";
import LearnMoreButton from "../components/LearnMoreButton.astro";
import Socials from "../components/Socials.astro";

const SPONSORS = [
    {
        id: "hirez",
        name: "Hi Rez",
        url: "https://www.hirezstudios.com/",
    },
    {
        id: "titan_forge",
        name: "Titan Forge",
        url: "https://www.titanforgegames.com/",
    },
];
---

<section>
    <div class="flex flex-col justify-center items-center gap-10 text-center py-14 sm:py-52 z-10">
        <h1 class="text-8xl uppercase font-prata">Battleground <br />of the Gods</h1>
        <p class="text-xl uppercase max-w-2xl font-montserrat">
            Experience the ultimate battlefield in Smite, where divine powers collide. Engage in strategic gameplay and lead your god to
            victory in this epic MOBA.
        </p>
        <div class="flex gap-7">
            <DownloadButton />
            <LearnMoreButton />
        </div>
    </div>
    <div class="px-5 sm:px-24">
        <div class="border-solid border-t-2 py-5 border-white w-full flex justify-between">
            <Socials />
            <div class="flex gap-5 items-center">
                {
                    SPONSORS.map(({ id, name, url }) => (
                        <a href={url}>
                            <img src={`/svg/${id}.svg`} alt={`${name} Logo`} />
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</section>

<style>
    section {
        background-image: url("/img/smite-background.webp");
        background-size: cover;
        position: relative;
    }

    section::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        background-color: rgba(4, 14, 24, 0.7);
        z-index: 1;
    }
    section > * {
        position: relative;
        z-index: 2;
    }
</style>
