---

---

<section id="maps" class="flex flex-col w-full p-5 sm:p-12 lg:pt-28 lg:pb-44 lg:px-24">
    <h2 class="text-[80px] leading-[90px] lg:text-[102px] lg:leading-[120px] uppercase font-oswald">Maps</h2>

    <div class="flex flex-col w-full maps-container">
        <div class="map-card self-end mt-10 lg:mt-[-80px]">
            <div
                class="p-10 sm:p-10 sm:px-14 font-oswald map"
                style={{
                    backgroundImage: "url(/img/joust.webp)",
                }}
            >
                <div class="uppercase w-full text-center map-title"><span class="text-[64px]">Joust</span></div>
                <div class="map-content flex flex-col gap-2">
                    <h4 class="text-2xl lg:text-3xl uppercase">Joust</h4>
                    <p class="font-montserrat 2xl:max-w-[70%] text-sm sm:text-base">
                        Joust mode features a single-lane map and a side jungle. Your base, defended by one Phoenix and a Titan, sits on one
                        end. Your enemy's base is on the other. Average game time is around 15 minutes.
                    </p>
                    <div class="flex gap-8">
                        <div><span class="text-primary mr-2">Players:</span> 3</div>
                        <div><span class="text-primary mr-2">Game Duration:</span> 20-30 minutes</div>
                    </div>
                    <img class="max-w-[90px] sm:max-w-[120px] mt-2 sm:mt-5" src="/img/joust_minimap.webp" alt="Conquest Minimap" />
                </div>
            </div>
        </div>
        <div class="map-card mt-[-50px]">
            <div
                class="p-10 sm:p-10 sm:px-14 font-oswald map"
                style={{
                    backgroundImage: "url(/img/conquest.webp)",
                }}
            >
                <div class="uppercase w-full text-center map-title"><span class="text-[64px]">Conquest</span></div>
                <div class="map-content flex flex-col gap-2">
                    <h4 class="text-2xl lg:text-3xl uppercase">Conquest</h4>
                    <p class="font-montserrat 2xl:max-w-[70%] text-sm sm:text-base">
                        This is a typical MOBA mode with two bases at opposite sides of the map connected by three lanes. Each lane is
                        protected by two towers and a Phoenix.
                    </p>
                    <div class="flex gap-8">
                        <div><span class="text-primary mr-2">Players:</span> 3</div>
                        <div><span class="text-primary mr-2">Game Duration:</span> 30-60 minutes</div>
                    </div>
                    <img class="max-w-[90px] sm:max-w-[120px] mt-2 sm:mt-5" src="/img/conquest_minimap.webp" alt="Conquest Minimap" />
                </div>
            </div>
        </div>
        <div class="map-card self-end mt-[-50px]">
            <div
                class="p-10 sm:p-10 sm:px-14 font-oswald map"
                style={{
                    backgroundImage: "url(/img/arena.webp)",
                }}
            >
                <div class="uppercase w-full text-center map-title"><span class="text-[64px]">Arena</span></div>
                <div class="map-content flex flex-col gap-2">
                    <h4 class="text-2xl lg:text-3xl uppercase">Arena</h4>
                    <p class="font-montserrat 2xl:max-w-[70%] text-sm sm:text-base">
                        The gladiators have called out for help and the gods have answered. The Arena game mode is a brawling deathmatch
                        where your goal is to defeat enemy players and their minions by reducing their side's ticket count to zero.
                    </p>
                    <div class="flex gap-8">
                        <div><span class="text-primary mr-2">Players:</span> 5</div>
                        <div><span class="text-primary mr-2">Game Duration:</span> 15-20 minutes</div>
                    </div>
                    <img class="max-w-[90px] sm:max-w-[120px] mt-2 sm:mt-5" src="/img/arena_minimap.webp" alt="Conquest Minimap" />
                </div>
            </div>
        </div>
        <div class="map-card mt-[-50px]">
            <div
                class="p-10 sm:p-10 sm:px-14font-oswald map"
                style={{
                    backgroundImage: "url(/img/siege.webp)",
                }}
            >
                <div class="uppercase w-full text-center map-title"><span class="text-[64px]">Siege</span></div>
                <div class="map-content flex flex-col gap-2">
                    <h4 class="text-2xl lg:text-3xl uppercase">Siege</h4>
                    <p class="font-montserrat 2xl:max-w-[70%] text-sm sm:text-base">
                        Siege is a Conquest-like game type, with two lanes on a small map. Try to acquire siege juggernauts to push lanes
                        quickly.
                    </p>
                    <div class="flex gap-8">
                        <div><span class="text-primary mr-2">Players:</span> 4</div>
                        <div><span class="text-primary mr-2">Game Duration:</span> 30 minutes</div>
                    </div>
                    <img class="max-w-[90px] sm:max-w-[120px] mt-2 sm:mt-5" src="/img/siege_minimap.webp" alt="Conquest Minimap" />
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    section {
        width: 100%;
        background-image: url("/img/maze_black.png");
    }

    .map-card {
        padding: 12px;
        border: 1px solid rgb(235, 218, 156, 0.7);
        background: rgba(255, 255, 255, 0.05);
        cursor: default;
        width: 45%;
    }
    .map-card > div {
        display: flex;
        flex-direction: column;
    }

    .map {
        background-size: cover;
        position: relative;
        z-index: 1;
        min-height: 350px;
        max-height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .map::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgba(2, 11, 19, 1) 0%, rgba(2, 11, 19, 0.7007003484987745) 70%, rgba(4, 14, 24, 0.4) 100%);
        opacity: 1;
        transition: 0.4s opacity ease;
    }

    .map-card:hover .map::before {
        opacity: 0.7;
    }

    .map-content {
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition:
            0.4s opacity ease-in-out,
            0.4s visibility ease-in-out;
        visibility: hidden;
        position: absolute;
    }

    .map-card:hover .map-content {
        opacity: 1;
        visibility: visible;
    }
    .map-title {
        transition:
            0.4s opacity ease-in-out,
            0.4s visibility ease-in-out;
        position: relative;
        opacity: 1;
    }

    .map-card:hover .map-title {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    .maps-container {
        position: relative;
    }
    .maps-container > div::before,
    .maps-container > div::after {
        pointer-events: none;
    }
    .maps-container > div:nth-child(1)::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 14.4%;
        left: 5%;
        top: 5%;
        border-width: 1px 0px 0px 1px;
        border-style: solid;
        border-color: var(--primary-color);
    }

    .maps-container > div:nth-child(2)::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 14.4%;
        left: 5%;
        top: 48.9%;
        border-width: 0px 0px 1px 1px;
        border-style: solid;
        border-color: var(--primary-color);
    }

    .maps-container > div:nth-child(3)::after {
        content: "";
        position: absolute;
        width: 90%;
        height: 33%;
        right: 5%;
        top: 74.5%;
        border-width: 0px 1px 1px 0px;
        border-style: solid;
        border-color: var(--primary-color);
    }

    @media screen and (max-width: 1024px) {
        .maps-container {
            gap: 100px;
        }
        .map-card {
            width: 100%;
        }
        .maps-container > div::after {
            display: none;
        }
        .map-content {
            opacity: 1;
            visibility: visible;
        }
        .map-title {
            opacity: 0;
        }
    }
    @media screen and (max-width: 640px) {
        .maps-container {
            gap: 80px;
        }
        .map {
            min-height: 350px;
            max-height: 350px;
        }
    }
    @media screen and (max-width: 390px) {
        .map {
            min-height: 420px;
            max-height: 420px;
        }
        .map-content .flex {
            flex-direction: column;
            gap: 8px;
        }
    }
</style>
