---
import DownloadButton from "../components/DownloadButton.astro";
---

<section class="flex flex-col w-full px-5 py-28 sm:px-24">
    <h2 class="text-[102px] uppercase font-oswald">Latest News</h2>

    <div class="flex items-center justify-center gap-8 sm:mt-[-50px] sm:gap-[180px] sm:ml-[180px]">
        <div class="w-[35%] flex flex-col gap-10 items-start">
            <div class="flex items-center relative">
                <img src="/img/egypt.webp" alt="Egyptian Path" />
                <h3 class="text-[32px] uppercase absolute w-max">New Egyptian God</h3>
            </div>
            <p class="font-montserrat text-xl">
                Lorem ipsum dolor sit amet consectetur. Felis maecenas cursus faucibus amet aenean. Lorem ipsum dolor sit amet consectetur.
                Lorem ipsum dolor sit amet consectetur. Felis maecenas cursus faucibus amet aenean. Lorem ipsum dolor sit amet consectetur.
            </p>
            <DownloadButton />
        </div>
        <div class="w-[65%] pr-[50px] pb-[50px] gameplay">
            <img class="w-full" src="/img/smite-gameplay.jpg" alt="Smite Gameplay" />
        </div>
    </div>
</section>

<style>
    section {
        width: 100%;
        background-image: url("/img/maze_black.png");
        position: relative;
        z-index: 1;
    }

    section::before {
        content: "";
        position: absolute;
        left: 10%;
        top: 8%;
        width: 30%;
        height: 92%;
        border-color: var(--color-primary);
        border-style: solid;
        border-width: 1px 0px 0px 1px;
        z-index: -1;
        pointer-events: none;
    }
    .gameplay {
        position: relative;
        z-index: 3;
        max-width: 850px;
    }
    .gameplay img {
    }
    .gameplay::after {
        content: "";
        width: 94%;
        height: 90%;
        inset: 0;
        position: absolute;
        transform: translate(50px, 60px);
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid var(--color-primary);
        z-index: -1;
    }
</style>
